
@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #17f;
}
section{
background-color: #ffff;
padding: 10px;
display:flex;
flex-direction: column;
width: 400px;
border-radius: 6px;
}
section h1
{
    text-align:center;
}
form{
    flex-direction: column;
    display: flex ;


}
form input{
    margin: 5px 0;
    padding: 5px 5px;
    outline:0 ;
    border:1px solid #000;
    border-radius: 6px;
}
form input[type='submit']{
    background-color: #17f;
    border:0;
    color:#ffff;
    margin-top: 15px;
    padding:6px 0;
}
.Erreu
{
    color: red;
    margin:10px 0;
    text-align: center;
}
.messag{

    color:#fff;
    font-size: 50px;
}
